.wrapper {
  max-width: 800px;
  padding: 3rem;
  margin: 0 auto;
}

.Header {
  background-color: rgb(31, 31, 31);
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0rem;
  left: 3rem;
  right: 3rem;
  padding: 2rem 0;
}
.Header h1 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(255, 187, 29);
}
.Header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.Header nav ul a {
  text-decoration: none;
  color: rgba(255, 187, 29, 0.692);
  font-size: 1.3rem;
  transition: all 0.3s;
}
.Header nav ul a:hover {
  text-decoration: underline;
  color: rgb(255, 187, 29);
}

.HeroSection {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}
.HeroSection .hero-text h2 {
  color: rgba(255, 187, 29, 0.692);
  font-size: 3rem;
}
.HeroSection .hero-text h2 span {
  background-color: yellow;
  color: black;
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
}
.HeroSection .hero-text p {
  color: rgb(194, 194, 194);
  font-size: 1.3rem;
}
.HeroSection .hero-text .buttons {
  display: flex;
  gap: 1rem;
}
.HeroSection .hero-text .buttons a {
  text-decoration: none;
  background-color: rgb(255, 187, 29);
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}
.HeroSection .hero-text .buttons a.alt {
  background-color: transparent;
  border: 2px solid rgb(255, 187, 29);
  color: rgb(255, 187, 29);
}
.HeroSection .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  height: 80vh;
}
.HeroSection .hero-image img {
  height: 70%;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3rem;
  border: 2px solid rgba(255, 187, 29, 0.692);
}

@media (max-width: 600px) {
  .HeroSection {
    grid-template-columns: 1fr;
  }
}
.ProjectsSection {
  margin-top: 5rem;
}
.ProjectsSection h2 {
  color: rgba(255, 187, 29, 0.692);
}
.ProjectsSection .projects-container {
  display: flex;
  gap: 2rem;
  overflow-y: scroll;
  white-space: nowrap;
}
.ProjectsSection .projects-container::-webkit-scrollbar {
  display: none;
}
.ProjectsSection .project-tile {
  background-color: black;
  height: 47rem;
  min-width: 30rem;
  max-width: 30rem;
  border-radius: 3rem;
}
.ProjectsSection .project-tile .image {
  height: 62%;
}
.ProjectsSection .project-tile .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 3rem 3rem 0 0;
}
.ProjectsSection .project-tile .content {
  height: 30%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ProjectsSection .project-tile .content h3 {
  color: rgba(255, 187, 29, 0.692);
  font-size: 1.5rem;
}
.ProjectsSection .project-tile .content p {
  color: rgb(194, 194, 194);
  white-space: normal;
  padding: 0rem 1rem;
  flex-grow: 1;
  font-size: 1.2rem;
}
.ProjectsSection .project-tile .content .buttons {
  display: flex;
  gap: 1rem;
}
.ProjectsSection .project-tile .content .buttons a {
  text-decoration: none;
  background-color: rgb(255, 187, 29);
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.ProjectsSection .project-tile .content .buttons a.alt {
  background-color: transparent;
  border: 2px solid rgb(255, 187, 29);
  color: rgb(255, 187, 29);
}

.ContactSection {
  margin-top: 7rem;
}
.ContactSection h2 {
  color: rgba(255, 187, 29, 0.692);
}
.ContactSection .contact-wrapper {
  background-color: black;
  border-radius: 3rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactSection .contact-wrapper .buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.ContactSection .contact-wrapper .buttons .con {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ContactSection .contact-wrapper .buttons .con span {
  color: rgba(255, 187, 29, 0.692);
  font-size: 1.2rem;
}
.ContactSection .contact-wrapper .buttons .con a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  background-color: rgb(255, 187, 29);
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.ContactSection .contact-wrapper .buttons .con a svg {
  font-size: 2rem;
}
.ContactSection .contact-wrapper .buttons .con a.alt {
  background-color: transparent;
  border: 2px solid rgb(255, 187, 29);
  color: rgb(255, 187, 29);
}/*# sourceMappingURL=App.css.map */