$bg: rgb(31, 31, 31);
$theme: rgb(255, 187, 29);
$themeDull: rgba(255, 187, 29, 0.692);
$textColour: rgb(194, 194, 194);

.wrapper{
    max-width: 800px;
    padding: 3rem;
    margin: 0 auto;
}

.Header{
    background-color: $bg;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0rem;
    left: 3rem;
    right: 3rem;
    padding: 2rem 0;
    // border-radius: 1rem;
    h1{
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 1.5rem;
        color: $theme
    }
    
    nav{
        ul{
            display: flex;
            align-items: center;
            gap: 2rem;
            list-style: none;
            padding: 0;
            margin: 0;
            a{
                text-decoration: none;
                color: $themeDull;
                font-size: 1.3rem;
                transition: all 0.3s;
                &:hover{
                    text-decoration: underline;
                    color: $theme;
                }
            }
        }
    }
}

.HeroSection{
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 4rem;
    align-items: center;
    .hero-text{
        h2{
            color: $themeDull;
            font-size: 3rem;
            span{
                background-color: yellow;
                color: black;
                padding: 0rem 0.5rem ;
                border-radius: 0.5rem
            }
        }
        p{
            color: $textColour;
            font-size: 1.3rem;
        }
        .buttons{
            display: flex;
            gap: 1rem;
            a{
                text-decoration: none;
                background-color: $theme;
                color: black;
                font-weight: 600;
                font-size: 1.5rem;
                padding: 1rem;
                border-radius: 1rem;
                &.alt{
                    background-color: transparent;
                    border: 2px solid $theme;
                    color: $theme;
                }
            }
        }
    }
    .hero-image{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        height: 80vh;
        img{
            height: 70%;
            width: 70%;
            object-fit: cover;
            border-radius: 3rem;
            border: 2px solid $themeDull
        }
    }
}

.ProjectsSection{
    margin-top: 5rem;
    h2{
        color: $themeDull;
    }
    .projects-container{
        display: flex;
        gap: 2rem;
        overflow-y: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .project-tile{
        background-color: black;
        height: 47rem;
        min-width: 30rem;
        max-width: 30rem;
        border-radius: 3rem;
        .image{
            height: 62%;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 3rem 3rem 0 0;
            }
        }
        .content{
            height: 30%;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h3{
                color: $themeDull;
                font-size: 1.5rem;
            }
            p{
                color: $textColour;
                white-space: normal;
                padding: 0rem 1rem;
                flex-grow: 1;
                font-size: 1.2rem;
            }
            .buttons{
                display: flex;
                gap: 1rem;
                a{
                    text-decoration: none;
                    background-color: $theme;
                    color: black;
                    font-weight: 400;
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    &.alt{
                        background-color: transparent;
                        border: 2px solid $theme;
                        color: $theme;
                    }
                }
            }
        }
    }
}

.ContactSection{
    margin-top: 7rem;
    h2{
        color: $themeDull;
    }
    .contact-wrapper{
        background-color: black;
        border-radius: 3rem;
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .buttons{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            .con{
                display: flex;
                align-items: center;
                gap: 1rem;
                span{
                    color: $themeDull;
                    font-size: 1.2rem;
                }
                a{
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3rem;
                    background-color: $theme;
                    color: black;
                    font-weight: 400;
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    svg{
                        font-size: 2rem;
                    }
                    &.alt{
                        background-color: transparent;
                        border: 2px solid $theme;
                        color: $theme;
                    }
                }
            }
        }
    }
}